<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DigitalOcean Rails Application</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <title>CrossHash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> ca020d27df6db3abc4b5743343f0fff3294b07ba
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
